<!-- <div class="app-data-grid" ng-transclude>
    <table id="jqTable" class="table table-striped" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
</div> -->


<div class="app-data-grid" ng-transclude>
    <table id="example" class="table table-striped" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>PersonID</th>
                <th>FirstName</th>
                <th>MI</th>
                <th>LastName</th>
                <th>Title</th>
                <th>Company</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Phone1</th>
                <th>Email1</th>
            </tr>
        </thead>
</div>