<!DOCTYPE html>
<html>

<head>
    <title>Data Table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/javascripts/index.js"></script>

    <script type='text/javascript'>
	//  var rows =<%-JSON.stringify(data)%>
	</script>

</head>

<body>

    <table id="example" cellspacing="0" width="100%">
        <tbody>
        </tbody>	
    </table>

</body>
</html>

http://www.w3programmers.com/adding-jquery-datatable-to-your-page-part-3/
https://stackoverflow.com/questions/30836514/jquery-datatables-with-node-js
https://stackoverflow.com/questions/45328393/how-to-do-pagination-in-nodejsexpressmongodb
https://stackoverflow.com/questions/109232/what-is-the-best-way-to-paginate-results-in-sql-server

sudo apt-get clean
sudo mv /var/lib/apt/lists /var/lib/apt/lists.broke
sudo mkdir -p /var/lib/apt/lists/partial
sudo apt-get update