<!DOCTYPE html>
<html>

<head>
    <title>Data Table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    

</head>

<body>

    <table id="example" cellspacing="0" width="100%">
        <tbody>
            hiiii
        </tbody>	
    </table>

</body>
</html>